.books-container {
    margin: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.book-card {
    height: 20rem;
    width: 100%; 
    max-width: 100%;
    /* perspective: 1000px; */
    cursor: pointer;
    background: none;
    /* position: relative; */
    padding: rem;
    /* background-color: black; */
    border-radius: 10px;
}


.books-header {
    display: flex;
    justify-content: center;
}

.books-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



@media (max-width: 900px) {
  .books-container {
    margin: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .books-container {
    margin: 0 0.5rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .book-card {
    height: 16rem;
  }
  .card-front img {
    height: 50%;
  }
}